name: .NET Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  solutionPath: "src/ShoppingCart.sln"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout source
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # needed for git versioning logic

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: "6.4.x"

      - name: Determine Version for project
        id: version_step
        uses: gittools/actions/gitversion/execute@v4.2.0

      # Install .NET SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x" # or 7.0.x / 6.0.x etc.

      # Restore packages
      - name: Restore dependencies
        run: dotnet restore ${{ env.solutionPath }}

      - name: Build
        run: dotnet build ${{ env.solutionPath }} --configuration Release --no-restore

      - name: Install ReSharper tools
        run: |
          dotnet new tool-manifest
          dotnet tool install JetBrains.ReSharper.GlobalTools --version 2025.1.2
          dotnet tool restore
      - name: Run Code Inspection
        run: |
          dotnet tool run jb inspectcode ${{ env.solutionPath }} -o="${{ runner.temp }}/inspectcode.json" --no-build
      - name: Analyze Code Inspection results
        shell: pwsh
        run: |
          ./.github/workflows/scripts/analyzeInspectCodeOutput.ps1 -inspectOutputPath ${{ runner.temp }}/inspectcode.json

      - name: Test
        run: dotnet test ${{ env.solutionPath }} --no-bulid --no-restore --verbosity normal
